* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  background-color: #efefef;
}

header {
  background-color: #2b2b2b;
  color: #ffffff;
  padding: 2vw 6vw 6vw 6vw;
  min-height: 19vw;
}

main {
  color: #4c4c4c;
}

.user-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 4vw;
}

.nav-title-wrapper {
  position: relative;
}

h1 {
  text-align: right;
}

h2 {
  font-size: 7vw;
  margin: 1em;
}

nav {
  display: none;
  width: 100%;
  text-align: left;
}

.fa-seedling,
.fa-dragon {
  color: #24b4fd;
  margin: 0.1em;
}

nav a {
  display: block;
  text-decoration: none;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #969696;
  margin: 30px 10px;
  transition: color 0.3s;
}

nav a:hover {
  color: #24b4fd;
}

label {
  font-size: 8vw;
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 2vw;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ nav {
  display: block;
}

.fa-share {
  height: 15px;
}

.url-wrapper {
  background-color: #efefef;
  margin: 1.4em 0;
  padding: 0.7em;
  font-size: 3.5vw;
}

.counter {
  color: #24b4fd;
  font-size: 8vw;
  line-height: 0.8em;
}

.views {
  color: #ffffff;
}

.fa-user {
  font-size: 3vw;
  margin: 0.3em;
}

.fa-caret-down,
.username {
  font-size: 3vw;
  color: #24b4fd;
  margin: 0.2em;
  cursor: pointer;
}

.username:hover ~ .fa-caret-down {
  transform: translateY(2px);
}

.article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  height: 116vw;
  width: 85vw;
  background-color: #ffffff;
  color: #5c5c5c;
  box-shadow: 0px 0px 6px #9f9f9f;
  margin-bottom: 2em;
}

img {
  width: 100%;
}

button {
  width: 17vw;
  height: 17vw;
  border-radius: 8.5vw;
  border: none;
  font-size: 7vw;
  color: #4c4c4c;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
}

button:hover {
  color: #24b4fd;
  transform: scale(1.1, 1.1);
}

.image-wrapper {
  position: relative;
  overflow: hidden;
  height: 40vw;
}

.image-overlay {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 46vw;
  padding: 5vw;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.3);
  transition: background-color 0.2s;
}

.image-overlay:hover {
  background-color: rgba(0,0,0,0.0);
}

.overlay-text {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

h3 {
  text-transform: uppercase;
  font-size: 3.5vw;
}

.name-text {
  font-weight: 500;
  font-size: 5vw;
}

.date-text {
  color: #a5a5a6;
  font-size: 3.5vw;
}

.article-text {
  padding: 1.4em;
}

.playlist {
  margin-bottom: 1em;
}

.active {
  color: #ffffff;
  pointer-events: none;
}

@media screen and (min-width: 500px) {
  h1 {
    font-size: 8vw;
  }
}

@media screen and (min-width: 600px) {
  label {
    font-size: 6vw;
  }

  .user-wrapper * {
    font-size: 2.5vw;
  }
}

@media screen and (min-width: 705px) {
  .article-container {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 1em 1em 1em;
  }

  article {
    margin: 0.5em 0.5em;
    height: 58vw;
    width: 42.5vw;
  }

  .image-wrapper {
    height: 20vw;
  }

  .image-overlay {
    height: 23vw;
    padding: 2.5vw;
  }

  button {
    width: 8.5vw;
    height: 8.5vw;
    border-radius: 4.25vw;
    font-size: 3.5vw;
  }

  .counter {
    font-size: 4vw;
  }

  .name-text {
    font-size: 2.5vw;
  }

  .date-text,
  .url-wrapper,
  h3 {
    font-size: 1.75vw;
  }

  h2 {
    font-size: 5vw;
  }

  h1 {
    font-size: 6vw;
    display: inline;
  }

  .user-wrapper * {
    font-size: 2vw;
  }

  .user-wrapper {
    margin-bottom: 0;
  }

  nav a {
    font-size: 2.75vw;
  }

  .nav-title-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
  }

  header {
    min-height: 22vh;
    padding: 2vh 4vh 4vh 4vh;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  label {
    display: none;
  }

  nav {
    display: inline;
    width: auto;
  }

  nav a {
    display: inline;
  }
}

@media screen and (min-width: 900px) {

  h2 {
    font-size: 3.5vw;
    margin: 0.8em 0.8em 0.4em 0.4em;
  }

  h1 {
    font-size: 4vw;
  }

  nav a {
    font-size: 2vw;
  }

  article {
    height: 40vw;
    width: 30vw;
  }

  .image-wrapper {
    height: 14vw;
  }

  .image-overlay {
    height: 16vw;
    padding: 1.75vw;
  }

  button {
    width: 5.75vw;
    height: 5.75vw;
    border-radius: 2.875vw;
    font-size: 2.33vw;
  }

  .counter {
    font-size: 2.75vw;
  }

  .name-text {
    font-size: 1.75vw;
  }

  .date-text,
  .url-wrapper,
  h3 {
    font-size: 1.1vw;
  }
}

@media screen and (min-width: 1000px) {
  .user-wrapper * {
    font-size: 1.5vw;
  }
}

@media screen and (min-width: 1200px) {

  .user-wrapper * {
    font-size: 1.2vw;
  }

  header {
    padding: 1vw 2vw 2vw 2vw;
  }

  nav a {
    font-size: 1.5vw;
  }
}
